.mainPlayList {
  padding: 20px 0;
  .f-right {
    float: right;
  }
  .f-right-m-20{
    margin-right: 20px;
  }
  .playUserAccount {
    .ant-card{
      border-radius: 0;
    }
    p{
      margin-bottom: 0;
    }
    .p-line-height {
      line-height: 32px;
    }
    .ant-divider-horizontal{
      margin: 10px 0;
    }
  }
}